.pokemon-container {
  min-height: 100vh;
  background: rgb(252, 201, 22);
  background: linear-gradient(152deg, #fcc916 0%, rgba(38, 113, 185, 1) 70%, rgba(118, 210, 234, 1) 100%);
}

.logo {
  max-width: 1000px;
  margin: auto;
}

.card {
  flex: 1 1 120px;
  border-radius: 20px;
  padding: 5px 10px;
  border-color: white;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.349);
  cursor: pointer;
}

h5 {
  font-family: "Pokemon";
  text-transform: capitalize;
  color: #3B4CCA;
}

.card:hover {
  transform: scale(1.05);
}

span {
  font-family: "Pokemon";
  text-transform: capitalize;
  color: #3B4CCA;
}


.btn {
  background-color: #3B4CCA;
  font-family: "Pokemon";
  text-transform: capitalize;
  color: #fcc916;
}

.btn :hover {
  color: #3B4CCA;
  background-color: #fcc916;
}

::placeholder {
  font-family: "Pokemon";
  color: #3B4CCA;
} 

input {
  font-family: "Pokemon";
  color: #3B4CCA;
}