<div class="pokemon-container" infinite-scroll [infiniteScrollDistance]="0.8" (scrolled)="scrollPage()">
    <div class="logo">
        <img src="../../../assets/img/pokemon-logo-2.png" class="card-img-top mt-3" alt="...">
    </div>
    <div class="container mt-3">
        <form class="d-flex mb-3">
            <input class="form-control me-2" type="search" placeholder="Search a Pokemon (name or id)"
                aria-label="Search" [(ngModel)]="findPokemon" [ngModelOptions]="{standalone: true}">
            <button class="btn" type="submit" (click)="searchPokemon()">Search</button>
        </form>
        <div class="spinner-border text-danger" role="status" *ngIf="loading">
            <span class="visually-hidden"></span>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" *ngIf="!loading">
            <div class="col mb-4" *ngFor="let card of pokemonList">
                <div class="card" *ngIf="!notFound" (click)="openModal(card.id)"
                    [routerLink]="[{outlets: {'modal': ['about' , card.id, {queryParams: card | json}]}}]">
                    <span class="">#{{card.id.toString().padStart(3, '0')}}</span>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{card.id}}.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{card.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col" *ngIf="notFound">
                <div class="card">
                    <img src="../../../assets/img/pokebola.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>{{errorMessage}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>